<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Skill</h1>
    <form action="/skills/<%= skill.id%>?_method=PUT" method="POST" autocomplete="off">
        <input type="checkbox" name="learned" <%= skill.learned ? 'checked' : '' %>>
        <input type="text" name="skill" value="<%= skill.skill %>"> 
        <button type="submit">Update Skill</button>
    </form>
    <a href="/skills">Back to My Skill List</a>
</body>
</html>